body {
  margin: 0px;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8; /* Warna latar belakang */
}

header {
  width: 100%;
  z-index: 10000;
  background-color: #dad8d7; /* Warna latar belakang navbar saat digulir ke bawah */
}
.container{
  width: 95%;
  margin: 0px auto; /* Warna latar belakang header */
  background-color: rgba(0, 0, 0, 0); /* Warna latar belakang navbar transparan */
  color: white;
  transition: background-color 0.3s ease;
}
nav ul li a:hover {
  color: #ccc; /* Warna teks tautan saat dihover */
}
.login a{
  cursor: pointer;
}
.login{
  border-radius: 30px;
  padding: 10px 30px;
  border: 2px solid #0d3c18;
}
.login:hover{
  background-color: #0d3c18;
  color: #dad8d7;
}
.logo{
  width: 400px;
  display: inline-block;
}

header h1 {
  color: #fff; /* Warna teks judul */
}
nav{
  float: right;
  margin-top: 28px;
  display: inline-block;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-size: 17px;
  text-decoration: none;
  color: #311d05; /* Warna teks tautan */
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

nav ul li a:hover {
  color: #ddb892; /* Warna saat tautan navbar dihover */
}

#login {
  background-color: #fff; /* Warna latar belakang form login */
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}

#login h2 {
  color: #452d26; /* Warna teks judul */
  margin-bottom: 20px;
}

#login label {
  display: block;
  margin-bottom: 10px;
  color: #452d26; /* Warna teks label */
}

#login input[type="email"],
#login input[type="text"],
#login input[type="password"] {
  width: 97%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ddd; /* Warna garis bawah input */
  border-radius: 5px;
}

#login button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #452d26; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efek transisi */
}

#login button:hover {
  background-color: #b48e68; /* Warna latar belakang tombol saat dihover */
}

#login p {
  margin-top: 50px;
  text-align: right;
}

#login p a {
  color: #007bff; /* Warna tautan daftar */
}
